@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');


* {
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 8px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Catamaran', sans-serif;
}

/* --------------------MAIN I---------------------- */

main {
    padding: 20px 50px 0;
}

.banner {
    width: 100%;
    height: fit-content;
}

.background-text {
    width: fit-content;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hi {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10rem;
    color: #fff;
    height: fit-content;
}

.me-banner {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 5rem;
    color: #fff; 
}

/* --------------------SCROLL ANIMATION---------------------- */
.container-mouse {
    display: block;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mouse-btn {
    margin: 10px auto;
    width: 40px;
    height: 80px;
    border: 3px solid rgba(122, 122, 124, 0.918);
    border-radius: 20px;
    display: flex;
  }
  
  .mouse-scroll {
    display: block;
    width: 20px;
    height: 20px;
    background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
    border-radius: 50%;
    margin: auto;
    animation: scrolling13 1s linear infinite;
  }
  
  @keyframes scrolling13 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(20px);
    }
  }

/* --------------------HEADER---------------------- */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(8px);
}

.sticky {
    position: sticky;
    top: -1px;
    width: 100%;
}

.margin-set {
    margin: 0 0 20px 0;
}

header nav {
    display: inline-block;
    margin: 16px 10px;
}

ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 15px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-size: 1200% 100%;
    background-position: 100%;
    transition: background-position 1.6s ease;
}

header nav ul li a:hover {
    background-position: 0 100%;
}

  /* --------------------MAIN II (CONTENT)---------------------- */
.main-content {
    padding: 0 40px;
}

.about-me, .works, .contact {
    padding-top: 25px;
    display: block;
    justify-content: center;
}

.my-img {
    width: 100%;
    height: fit-content;
}

.me {
    color: aliceblue;
}

.fs-set {
    font-size: 6rem;
}

.contact-icons {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: auto;
    margin: 10px 2% 30px 2%;
}

.end-block {
    height: 10px;
    width: 100%;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
    bottom: 0;
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    html {
        font-size: 9px;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    html {
        font-size: 10px;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    html {
        font-size: 11px;
    }

    .header {
        height: 55px;
    }

    .my-img {
        width: 20%;
        height: auto;
        display: inline-block;
        float: left;
    }

    .me {
        display: inline-block;
        padding: 0;
        margin: 0;
        float: left;
        width: 79%;
    }

    .hi {
        display: block;
        margin: 20px 0;
    }

    .me p {
        font-size: 20px;
        padding: 30px 10px 100px 20px;
    }

    .float-right-side {
        display: inline-block;
        height: fit-content;
        width: 100%;
        text-align: right;
        float: right;
    }

    .display-ib {
        display: inline-block;
    }

    .banner {
        height: 100vh;
    }
}