* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: #111;
    user-select: none;
}

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #111;
    font-size: 5rem;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #111;
    border-radius: 50%;
}

@keyframes backside {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(.7);
        opacity: 0;
    }
}

.eye{
    position: fixed;
    width: 125%;
    height: 125%;
    border-radius: 50%;
    position: absolute;
    transition: all 2s ease-out;
    z-index: 2;
    transform: scale(1.5) translateY(35%);
}

.ball{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    border-radius: 50%;
    transition: all .4s ease-out;
    background: rgb(40,219,255);
    background: linear-gradient(164deg, rgba(40,219,255,1) 0%, rgba(0,212,255,1) 27%, rgba(255,135,255,1) 60%, rgba(255,0,255,1) 100%);
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

#start-btn {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999999999999999999999999;
}

.started {
    z-index: -10 !important;
    animation: ball-back 1s ease-in;
    transform: scale(1) translate(0);
}

.main-animate {
    animation: main-front 1s ease-in;
    opacity: 1;
    transform: scale(1);
}

@keyframes ball-back {
    0% {
        transform: scale(1.5) translateY(35%);
    }



    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes main-front {
    0% {
        transform: scale(.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

main {
    width: 80vw;
    height: 70vh;
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: scale(.8);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5%;
}

main nav {
    width: fit-content;
    height: fit-content;
}

.logo {
    margin-bottom: 35%;
    pointer-events: none;
    text-transform: uppercase;
}

main nav ul li {
    font-size: 4rem;
    cursor: pointer;
}

.show {
    width: 50%;
    display: flex !important;
    height: 100%;
    flex-direction: column;
}

article {
   display: none;
}

.disabled:hover {
    text-decoration: line-through;
}

.underscore {
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 9.5px;
    }

    main {
        width: 82vw;
        height: 80vh;
        padding: 5%;
        flex-direction: column;
    }

    .eye {
        width: 100vw;
        height: 100vh;

    }

    .ball {
        height: 1700px;
        width: 1700px;
        top: 145%;
        transition: all 15s ease-out !important;
    }

    .logo {
        margin-bottom: 5%;
        pointer-events: none;
    }
    
    .show {
        width: 100%;
        display: flex !important;
        height: auto;
        flex-direction: column;
        position: unset;
    }

    @media only screen and (max-height: 668px) {
        main {
            width: 85vw;
            height: 90vh;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 11px;
    }

    main {
        width: 80vw;
        height: 78vh;
        padding: 5%;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 5%;
        pointer-events: none;
    }
    
    .show {
        width: 100%;
        display: flex !important;
        height: auto;
        flex-direction: column;
        position: unset;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 13px;
    }

    main {
        width: 80vw;
        height: 80vh;
        padding: 5%;
    }

    .logo {
        margin-bottom: 5%;
        pointer-events: none;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    html {
        font-size: 13px;
    }
}